/* ----------- ELEMENTS ----------- */
body {
  background-color: beige;
  margin-bottom: 0px;
}

/* ----------- CLASSES ----------- */

.city-panel {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 80px;
}

.city-tile {
  height: 500px;
  width: 500px;
  border-style: solid;
  border-width: 5px;
  display: block;
  margin: auto;
  margin-bottom: 70px;

}

.shoptile-min {
  background-image: url("assets/cafe.jpg") ;
  opacity: 20%;
  height: 300px;
  margin-bottom: 30px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

.shoptile-max {
  background-color: white;
  height: 500px;
  margin-bottom: 30px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

.readmore {
  text-align: center;
  width: 200px;
  display: block;
  margin-left: 45%;
  margin-bottom: 50px;
}

/* ----------- ID'S ----------- */

#main-container {
  border-style: solid;
  border-width: 5px;
}

#new-jersey-shops {
display: none;
}

#new-york-shops {
display: none;
}

#boston-shops {
display: none;
}

#philly-shops {
display: none;
}

#new-york-tile {
  background-image: url('assets/locations/newyork.jpg');
  background-position: center;
}


#new-jersey-tile {
  background-image: url('assets/locations/newjersey.jpg');
  background-position: center;
}

#boston-tile {
  background-image: url('assets/locations/boston.jpg');
  background-position: center;
}

#philly-tile {
  background-image: url('assets/locations/philly.jpg');
  background-position: top;
}

#logo-box {
  text-align: center;
  margin: 100px;
}

#logo {
  height: 300px
}

#cities-button {
  height: 100px;
  weight: 100px;
}
